<footer class="container-fluid footer">
    <div class="container">
        <div class="col-11 block-footer">
            <div class="col-12 col-md-5 text-center pt-5">
                <h4 class="title"><span class="uppercase">B</span>esoin D'aide?</h4>
                <p class="link">La réponse à votre question se trouve certainement dans les <a href="#">questions fréquentes.</a></p>
                <p class="link">Vous pouvez également nous contacter en dehors des jours fériés:</p>
                <p class="link">Magasins et commandes en ligne</p>
                <p class="link mb-0"><a href="#">Par téléphone: +33 (0)1 00 00 00 00</a></p>
                <p class="link">Du lundi au samedi: 10h - 19h</p>
                <p class="link">Pour les demandes d’information au Siège, contactez notre Standard général</p>
                <p class="link mb-0"><a href="#">Par téléphone: +33 (0)1 00 00 00 00</a></p>
                <p class="link">du lundi au vendredi: 8h30 - 18h</p>
                <p class="link"><a href="#">Envoyez-nous un e-mail</a></p>
            </div>

            <div class="col-12 col-md-5 text-center pt-5">
                <h4 class="title"><span class="uppercase">T</span>rouver un magasin</h4>
                <p class="link"><a href="#">Points de vente proposant la beauté</a></p>
                <p class="link"><a href="#">Magasins Hormòs</a></p>
            </div>
        </div>

        <hr>

        <div class="block-footer">
            <div class="col text-center pt-5">
                <h4 class="title"><span class="uppercase">C</span>ontinuons la conversation</h4>
                <p class="link">Recevez notre newsletter et découvrez nos histoires, nos collections et nos surprises.</p>
                <button type="button" class="btn btn-dark mb-5"><span>S</span>'inscrire</button>
            </div>
        </div>

        <nav class="nav-footer">
            <div class="col grid-container-footer">
                <div class="card grid-item-footer">
                    <p class="sub-title"><span>S</span>ervices</p>
                    {# <button type="button">Nous contacter</button> #}
                    <p>Nous contacter</p>
                    <p>Trouver un magasin</p>
                    <p>Points de vente proposant la beauté</p>
                    <p>Offrir un cadeau</p>
                    <p>Le Sur-mesure</p>
                    <p>L’entretien et la réparation</p>
                </div>

                <div class="card grid-item-footer">
                        <p class="sub-title"><span>C</span>omandes</p>
                    <p>Paiement</p>
                    <p>Livraison</p>
                    <p>Retrait en magasin</p>
                    <p>Suivi de commande</p>
                    <p>Retour et échange</p>
                </div>

                <div class="card grid-item-footer">
                    <p class="sub-title"><span>L</span>a <span>M</span>aison <span>H</span>ormòs</p>
                    <p>Développement durable</p>
                    <p>La fondation d'entreprise Hormòs</p>
                    <p>Rejoindre Hormòs</p>
                    <p>Finance & Gouvernance</p>
                    <p>Nos maisons partenaires</p>
                </div>

                <div class="card grid-item-footer">
                    <p class="sub-title"><span>M</span>entions <span>L</span>égales</p>
                    <p>Conditions générales de vente</p>
                    <p>Conditions générales d'utilisation</p>
                    <p>Données personnelles</p>
                    <p>Cookies</p>
                    <p>Règles d'entreprise contraignantes</p>
                    <p>Mentions légales</p>
                    <p>Accessibilité</p>
                </div>
            </div>
        </nav>

        <hr>

        <div class="col-12 block-copyright">
            <div class="col-12 col-md-6">
                <p><a href="#" class="me-3">France</a> © Hormòs 2022. Tous droits réservés</p>
            </div>

            <div class="col-12 col-md-6 icon">
               <a href=""><i class="fa-brands fa-facebook-f"></i></a> 
               <a href=""><i class="fa-brands fa-instagram"></i></a> 
               <a href=""><i class="fa-brands fa-twitter"></i></a> 
               <a href=""><i class="fa-brands fa-youtube"></i></a> 
            </div>
        </div>

        <div class="col-12 logo d-flex justify-content-center">
            <img src="{{ asset("build/images/logo-Hormos-gris-p.png") }}" alt="logo Hormos">
        </div>
    </div>
</footer>