<header class="container-fluid header" id="header">
    <div class="logo-header">
        <a href="#"><img src="{{ asset("build/images/logo-Hormos-noir-p.png") }}" alt="logo Hormos"></a>
    </div>
     
    <div class="block-head">
        <div>France</div>
        <div>Trouver un magasin</div>
        <div>Nous contacter</div>
    </div>

    <div class="nav-header pt-4">
        <ul class="nav-list">
            <li class="nav-items"><a href="#" class="text-decoration-none"><i class="fa-solid fa-bars"></i> Menu</a></li>
            <li class="nav-items"><input type="search" placeholder="Rechercher" class="text-decoration-none"></li>
            <li class="nav-items ps-5"><a href="#" class="text-decoration-none"><i class="fa-regular fa-user"></i> Compte</a></li>
            <li class="nav-items"><a href="#" class="text-decoration-none"><i class="fa-regular fa-square text-end"></i> Panier</a></li>
        </ul>
    </div>
</header>