<header class="container-fluid header-mobile" id="header-mobile">
    <div class="logo-header">
        <a href="#"><img src="{{ asset("build/images/logo-Hormos-mobile-p.png") }}" alt="logo Hormos"></a>
    </div>

    <div class="nav-header">
        <ul class="nav-list">
            <li class="nav-items"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
            <li class="nav-items"><a href="#"><i class="fa-solid fa-magnifying-glass" id="icon-search"></a></i></li>
            <div class="nav-header" id="nav-header">
                <ul class="nav-list">
                    <li class="nav-items search" id="search">
                        <input type="search" name="input-search" placeholder="Rechercher" id="input-search-bar">
                        <i class="fa-solid fa-xmark" id="cross"></i>
                        <div class="block-dropdown" id="block-dropdown">
                            <ul class="dropdown-list" id="dropdown-list">
                                <li>Quelques suggestions</li>
                                <li><a href="#">Sandales Oran</a></li>
                                <li><a href="#">Sandales Oran</a></li>
                                <li><a href="#">Carrés, châles et écharpes dans la collection Femme (468)</a></li>
                                <li><a href="#">Chaussures dans la collection Femme (293)</a></li>
                                <li><a href="#">Chaussures dans la collection Homme (193</a>)</li>
                            </ul>
                        </div>

                        <div class="container-fluid search-dropdown-background" id="search-dropdown-background"></div>

            <li class="nav-items"><a href="#"><i class="fa-regular fa-user"></i></a></li>
            <li class="nav-items"><a href="#"><i class="fa-regular fa-square text-end"></i></a></li>
        </ul>
    </div>
</header>