<header class="container-fluid header" id="header">
    <div class="logo-header" id="logo-header">
        <a href="#"><img src="{{ asset("build/images/logo-Hormos-noir-p.png") }}" alt="logo Hormos"></a>
    </div>
     
    <div class="block-head" id="block-head">
        <div><a href="#">France</a></div>
        <div><a href="#">Trouver un magasin</a></div>
        <div><a href="#">Nous contacter</a></div>
    </div>

    <div class="nav-header pt-3">
        <ul class="nav-list">
            <li class="nav-items"><a href="#" class="text-decoration-none"><i class="fa-solid fa-bars"></i> Menu</a></li>
            <li class="nav-items search" id="search"><input type="search" placeholder="Rechercher" id="input-search"></li>
            <li class="nav-items ps-5"><a href="#" class="text-decoration-none"><i class="fa-regular fa-user"></i> Compte</a></li>
            <li class="nav-items"><a href="#" class="text-decoration-none"><i class="fa-regular fa-square text-end"></i> Panier</a></li>
        </ul>
    </div>
</header>