{% extends "base.html.twig" %}

{% block title %} Boutique en ligne officielle d'Hormòs | Hormòs France {% endblock %}

{% block body %}

<div class="container">

    <div class="col-12 m-auto">
        <h2 class="text-center title mt-5">Un souffle solaire</h2>
        <p class="col-12 col-xl-8 m-auto text-center block-intro p-3">Comme un élan d’optimisme, la collection printemps-été 2022 appelle la légèreté et la douceur de vivre.</p>
        <div class="col-9 m-auto text-center block-intro collection pt-2 pb-5"><a href="#" class="collection">Découvrez la collection</a></div>
    </div>

    <div class="block-video">
        <div class="col-12 mb-5 miniature" id="miniature">
            <a href="#" id="play" onclick="fctPlay('video');" onmouseover="Affiche();"><i class="fa-solid fa-play"></i></a> 
            <p class="popover" id="popover">Lire la vidéo</p>
            <img class="col-12 mb-5" src="{{ asset("/build/images/miniature-video-intro.png") }}" alt="miniature">
        </div>

        <video id="video" class="col-12 mb-5" controls="controls" controlslist="nodownload" poster="/build/images/miniature-video-intro.png">
            <source src="{{ asset("/build/video/video-intro.mp4") }}" type="video/mp4">
            <source src="{{ asset("/build/video/video-intro.ogg") }}" type="video/ogg">
            Mettez à jour votre navigateur pour visualiser la vidéo
        </video>
    </div>

    <h2 class="text-center title mt-5">Nos produits</h2>
    <div class="row">
        <div class="col grid-container">
            {% for title in titles %}
                <div class="card grid-item">
                    <img src="https://picsum.photos/400/400" class="img-fluid" alt="image produit">
                    <h4 class="sub-title mt-3">{{ title }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
