<div class="side-bar">
    <div class="menu">
        <div class="top">
            <a href="#"><div class="item first mb-2"><i class="bi bi-x-lg"></i><span>M</span>enu</div></a>
            
            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu1" id="sub-btn1">
                <div class="item plus">Femme<i class="bi bi-plus" id="plus1"></i><i class="bi bi-dash" id="dash1"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu1">
                <a href="#"><div class="sub-item ms-3">PRÊT-À-PORTER<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CARRÉS, CHÂLES ET ÉCHARPES<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CHAUSSURES</i></div></a>
                <a href="#"><div class="sub-item ms-3">SACS ET PETITE MAROQUINERIE<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CEINTURES</div></a>
                <a href="#"><div class="sub-item ms-3">CHAPEAUX ET GANTS</div></a>
                <a href="#"><div class="sub-item ms-3">ACCESSOIRES BIJOUX<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="item">Inspirations</div></a>
                <img class="mb-3" src="https://picsum.photos/100/50" alt="image menu">
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu2" id="sub-btn2">
                <div class="item plus sub-btn">Homme<i class="bi bi-plus" id="plus2"></i><i class="bi bi-dash" id="dash2"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu2">
                <a href="#"><div class="sub-item ms-3">PRÊT-À-PORTER<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CARRÉS, CHÂLES ET ÉCHARPES<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CHAUSSURES</i></div></a>
                <a href="#"><div class="sub-item ms-3">SACS ET PETITE MAROQUINERIE<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">CEINTURES</div></a>
                <a href="#"><div class="sub-item ms-3">ACCESSOIRES<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="item">Inspirations</div></a>
                <img class="mb-3" src="https://picsum.photos/100/50" alt="image menu">
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu3" id="sub-btn3">
                <div class="item plus sub-btn">Maison, plein air et équitation<i class="bi bi-plus" id="plus3"></i><i class="bi bi-dash" id="dash3"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu3">
                <a href="#"><div class="sub-item ms-3">PLAIDS ET COUSSINS</div></a>
                <a href="#"><div class="sub-item ms-3">OBJETS DE DÉCORATION</div></a>
                <a href="#"><div class="sub-item ms-3">ART DE LA TABLE</div></a>
                <a href="#"><div class="sub-item ms-3">MOBILIER ET LUMINAIRES</div></a>
                <a href="#"><div class="sub-item ms-3">BUREAU ET ÉCRITURE</div></a>
                <a href="#"><div class="sub-item ms-3">LINGE DE TOILETTE ET PLAGE</div></a>
                <a href="#"><div class="sub-item ms-3">JEUX ET PLEIN AIR</div></a>
                <a href="#"><div class="sub-item ms-3">ÉQUITATION ET CHIEN<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="item">Inspirations</div></a>
                <img class="mb-3" src="https://picsum.photos/100/50" alt="image menu">
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu4" id="sub-btn4">
                <div class="item plus sub-btn">Joaillerie et montres<i class="bi bi-plus" id="plus4"></i><i class="bi bi-dash" id="dash4"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu4">
                <a href="#"><div class="sub-item ms-3">JOAILLERIE BIJOUTERIE<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">HORLOGERIE<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">APPLE WATCH HERMÈS</div></a>
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu5" id="sub-btn5">
                <div class="item plus sub-btn">Parfums et maquillage<i class="bi bi-plus" id="plus5"></i><i class="bi bi-dash" id="dash5"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu5">
                <a href="#"><div class="sub-item ms-3">PARFUMS<i class="bi bi-plus"></i></div></a>
                <a href="#"><div class="sub-item ms-3">MAQUILLAGE<i class="bi bi-plus"></i></div></a>
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu6" id="sub-btn6">
                <div class="item plus sub-btn">Cadeaux<i class="bi bi-plus" id="plus6"></i><i class="bi bi-dash" id="dash6"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu6">
                <a href="#"><div class="sub-item ms-3">CADEAUX POUR FEMME</div></a>
                <a href="#"><div class="sub-item ms-3">CADEAUX POUR HOMME</div></a>
                <a href="#"><div class="sub-item ms-3">CADEAUX DE NAISSANCE</div></a>
            </div>

            <a href="#" data-bs-toggle="collapse" data-bs-target="#sub-menu7" id="sub-btn7">
                <div class="item plus sub-btn">Éditions spéciales et sevices<i class="bi bi-plus" id="plus7"></i><i class="bi bi-dash" id="dash7"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu7">
                <a href="#"><div class="sub-item ms-3">OBJETS À PERSONNALISER</div></a>
                <a href="#"><div class="sub-item ms-3">OBJETS SUR MESURE</div></a>
                <a href="#"><div class="sub-item ms-3">HERMÈS EDITEUR<i class="bi bi-plus"></i></div></a>
            </div>

            <hr>

            <a href="#"data-bs-toggle="collapse" data-bs-target="#sub-menu8" id="sub-btn8">
                <div class="item plus sub-btn">A propos d'Hormòs<i class="bi bi-plus" id="plus8"></i><i class="bi bi-dash" id="dash8"></i></div>
            </a>
            <div class="sub-menu collapse" id="sub-menu8">
                <a href="#"><div class="sub-item ms-3">ARTISAN CONTEMPORAIN DEPUIS 1837</div></a>
                <a href="#"><div class="sub-item ms-3">FINANCE & GOUVERNANCE</div></a>
                <a href="#"><div class="sub-item ms-3">REJOINDRE HERMÈS</div></a>
                <a href="#"><div class="sub-item ms-3">DÉVELOPPEMENT DURABLE</div></a>
            </div>
        </div>

        <div class="bottom mt-4">
            <div class="menu-item">
                <a href="#"><div class="item"><i class="bi bi-geo-alt"></i>Trouver un magasin</div></a>
                <a href="#"><div class="item"><i class="bi bi-person"></i>Compte</div></a> 
                <a href="#"><div class="item"><i class="bi bi-chat-dots"></i>Nous contacter</div></a>
                <a href="#"><div class="item"><i class="bi bi-chat-dots"></i>Nous contacter</div></a>
            </div>
        </div>
    </div>
</div>